* # Ignore everything; employ an explicit whitelisting strategy
!/ # Whitelist sub folders themselves to make whitelisting work recursively

!.gitignore # Whitelist ".gitignore" otherwise it would obviously not get committed

!README.md
