# Ignore everything; employ an explicit whitelisting strategy
*

# Whitelist sub folders themselves to make whitelisting work recursively
!/

# Whitelist ".gitignore" otherwise it would obviously not get committed
!.gitignore 

!README.md
